<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
</div>
<div class="container app">
  <div class="row">
    <div class="col-sm-8">
        <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg != ''">
        <a href="#" class="close" (click)="msg = ''">
          &times;
        </a>
        {{msg}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <img class="img1" src="../assets/imgs/img1.webp" alt="">
    </div>
    <div class="col-sm-8">
      <h2>Crear tarea</h2>
      <form action="" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="control-label col-sm-2">Cargo</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model.position" placeholder="Cargo">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="control-label col-sm-2">Descripcion</label>
          <div class="col-sm-10">
            <input type="description" class="form-control" id="description" name="description" [(ngModel)]="model.description" placeholder="Description">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="control-label col-sm-2">Imagen</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="imagen" name="imagen" [(ngModel)]="model.imagen">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success" (click)="addEmployee()">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Tareas</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Descripcion</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees; let i = index">
            <td>{{employee.name}}</td>
            <td>{{employee.position}}</td>
            <td>{{employee.description}}</td>
            <td><img src="{{employee.imagen}}" alt=""></td>
            <td>
              <a (click)="editEmployee(i)" class="btn btn-success">
                Editar
              </a>
              <a (click)="deleteEmployee(i)" class="btn btn-danger">
                  Borrar
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4" *ngIf="editar">
      <h2>Actualizar tarea</h2>
      <form action="" class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="control-label col-sm-2">Cargo</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model2.position" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="control-label col-sm-2">Descripcion</label>
          <div class="col-sm-10">
            <input type="description" class="form-control" id="description" name="description" [(ngModel)]="model2.description" placeholder="Description">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success" (click)="updateEmployee()">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

 

<router-outlet></router-outlet>